<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form th:action="@{/auth/signup}" th:object="${user}" method="post">
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>
